@import "tailwindcss";

/* styles/themes.css */
@theme

  [data-theme='oscuro'] {
  --color-primary: #1A1A1A; /* Fondo principal oscuro o para textos*/
  --color-secondary: #29D3F1; /* Color azul general para cuadros , textos  */
  --color-secondaryhover: #1bbcd8;
  --color-tertiary: #393939; /* Fondo secundario oscuro general para cuadros , etc */
  --color-boxone: #393939;
  --color-buttonplus: #11c15b;
  --color-globalsecond: #7EF1D2;
  --color-globaltwo: white;
  --color-quaternary: #252525; /* Fondo barra de navegacion oscuro */
  --color-globalone: white; /* Texto blanco */
  --color-globalinverse : #6c6c6c;
  --color-accent: #e53e3e;
  --color-info: #3182ce;
  --color-success: #48bb78;
  --color-warning: #f6ad55;
  --color-danger: #d41f1f;
  --color-neutral: #a0aec0;
  --color-card : #6079AA;
  --color-salesIcon: #E0E1FC;
  }
  
  [data-theme='claro'] {
    --color-primary: white; /* Fondo principal claro o para textos*/
  --color-secondary: #29D3F1; /* Color azul general para cuadros , textos  */
  --color-tertiary: #F1F1F1; /* Fondo secundario claro general para 
  cuadros , etc */
  --color-globalinverse : #c5c5c5;
  --color-quaternary: #F7FAFC; /* Fondo barra de navegacion claro */
  --color-boxone: #d0f3f6;
  --color-globalone: black; /* Texto negro */
  --color-globalsecond: #2ae6b3;
  --color-globaltwo: white;
  --color-accent: #e53e3e;
  --color-info: #3182ce;
  --color-success: #48bb78;
  --color-warning: #f6ad55;
  --color-danger: #f33a3a;
  --color-neutral: #a0aec0;
  --color-card : #6079AA;
  --color-salesIcon: #121331;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--color-secondary);
    border-radius: 5px;
  }
  input[type="range"]::-webkit-slider-thumb{
    background-color: var(--color-secondary);
    border-radius: 5px;
  }
  input[type="range"]::-moz-range-thumb{
    background-color: var(--color-secondary);
    border-radius: 5px;
  }

/* Clases personalizadas para las formas onduladas del login */
.wave-top {
  background-image: url("/Rectangle1.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.wave-top-darker {
    background-image: url("/Rectangle2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.wave-bottom {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3e%3cpath fill='%2300b4d8' fill-opacity='1' d='M0,192L60,176C120,160,240,128,360,133.3C480,139,600,181,720,186.7C840,192,960,160,1080,149.3C1200,139,1320,149,1380,154.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}