@import "tailwindcss";
/* styles/themes.css */
@theme

  [data-theme='oscuro'] {
  --color-primary: #1A1A1A; /* Fondo principal oscuro o para textos*/
  --color-secondary: #29D3F1; /* Color azul general para cuadros , textos  */
  --color-tertiary: #393939; /* Fondo secundario oscuro general para cuadros , etc */
  --color-quaternary: #252525; /* Fondo barra de navegacion oscuro */
  --color-globalone: white; /* Texto blanco */
  --color-accent: #e53e3e;
  --color-info: #3182ce;
  --color-success: #48bb78;
  --color-warning: #f6ad55;
  --color-danger: #e53e3e;
  --color-neutral: #a0aec0;
  }
  
  [data-theme='claro'] {
  --color-primary: white; /* Fondo principal claro o para textos*/
  --color-secondary: #29D3F1; /* Color azul general para cuadros , textos  */
  --color-tertiary: #F1F1F1; /* Fondo secundario claro general para cuadros , etc */
  --color-quaternary: #F7FAFC; /* Fondo barra de navegacion claro */
  --color-globalone: black; /* Texto negro */
  --color-accent: #e53e3e;
  --color-info: #3182ce;
  --color-success: #48bb78;
  --color-warning: #f6ad55;
  --color-danger: #e53e3e;
  --color-neutral: #a0aec0;
  }
  
  ::-webkit-scrollbar {
    background-color: var(--color-primary);
    color: #29D3F1;
    border-radius: 5px;
    width: 10px;
    margin-left: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 5px;
  }