--
-- PostgreSQL database dump
--

-- Dumped from database version 17.3
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: decrease_stock(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.decrease_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
	insert into public."Stock" (warehouse_id,stock_movement_id,quantity,updated_at,model_product_id) values
	(new.warehouse_id,2,new.quantity* -1 ,now(),new.model_product_id);
	return new;
end;
$$;


ALTER FUNCTION public.decrease_stock() OWNER TO postgres;

--
-- Name: stock_return(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.stock_return() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
	if(TG_OP = 'DELETE')then
		insert into public."Stock" (warehouse_id,stock_movement_id,quantity,updated_at,model_product_id) values
		(old.warehouse_id,1,old.quantity,now(),old.model_product_id);
		return old;
	elseif(TG_OP = 'UPDATE')then
		insert into public."Stock" (warehouse_id,stock_movement_id,quantity,updated_at,model_product_id)values
		(old.warehouse_id,1,old.quantity - new.quantity,now(),old.model_product_id);
		return new;
	end if;
end;
$$;


ALTER FUNCTION public.stock_return() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    company_id integer NOT NULL,
    visibility boolean DEFAULT true NOT NULL,
    company_logo text,
    name text NOT NULL,
    tax_id text,
    email text,
    address text,
    phone text
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Company_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Company_company_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Company_company_id_seq" OWNER TO postgres;

--
-- Name: Company_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Company_company_id_seq" OWNED BY public."Company".company_id;


--
-- Name: Currency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Currency" (
    currency_id integer NOT NULL,
    code text,
    icon text,
    name text NOT NULL,
    symbol text,
    exchange_rate numeric(10,2),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Currency" OWNER TO postgres;

--
-- Name: Currency_currency_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Currency_currency_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Currency_currency_id_seq" OWNER TO postgres;

--
-- Name: Currency_currency_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Currency_currency_id_seq" OWNED BY public."Currency".currency_id;


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    customer_id integer NOT NULL,
    company_id integer NOT NULL,
    first_name text NOT NULL,
    last_name text,
    address text,
    email text,
    phone text,
    visibility boolean DEFAULT true NOT NULL,
    id_card text NOT NULL
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: Customer_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Customer_customer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Customer_customer_id_seq" OWNER TO postgres;

--
-- Name: Customer_customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Customer_customer_id_seq" OWNED BY public."Customer".customer_id;


--
-- Name: ModelProduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ModelProduct" (
    model_product_id integer NOT NULL,
    product_id integer NOT NULL,
    supplier_id integer,
    state_id integer DEFAULT 1 NOT NULL,
    visibility boolean DEFAULT true NOT NULL,
    photo text,
    sku text NOT NULL,
    name text NOT NULL,
    description text,
    cost numeric(10,2),
    price numeric(10,2) NOT NULL
);


ALTER TABLE public."ModelProduct" OWNER TO postgres;

--
-- Name: ModelProduct_model_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ModelProduct_model_product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ModelProduct_model_product_id_seq" OWNER TO postgres;

--
-- Name: ModelProduct_model_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ModelProduct_model_product_id_seq" OWNED BY public."ModelProduct".model_product_id;


--
-- Name: PaymentCoin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentCoin" (
    payment_coin_id integer NOT NULL,
    payment_method_id integer NOT NULL,
    currency_id integer NOT NULL
);


ALTER TABLE public."PaymentCoin" OWNER TO postgres;

--
-- Name: PaymentCoin_payment_coin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."PaymentCoin_payment_coin_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PaymentCoin_payment_coin_id_seq" OWNER TO postgres;

--
-- Name: PaymentCoin_payment_coin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."PaymentCoin_payment_coin_id_seq" OWNED BY public."PaymentCoin".payment_coin_id;


--
-- Name: PaymentMethod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentMethod" (
    payment_method_id integer NOT NULL,
    name text NOT NULL,
    icon text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentMethod_payment_method_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."PaymentMethod_payment_method_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."PaymentMethod_payment_method_id_seq" OWNER TO postgres;

--
-- Name: PaymentMethod_payment_method_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."PaymentMethod_payment_method_id_seq" OWNED BY public."PaymentMethod".payment_method_id;


--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    product_id integer NOT NULL,
    company_id integer NOT NULL,
    visibility boolean DEFAULT true NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: ProductList; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductList" (
    product_list_id integer NOT NULL,
    sale_id integer NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    model_product_id integer NOT NULL,
    warehouse_id integer NOT NULL
);


ALTER TABLE public."ProductList" OWNER TO postgres;

--
-- Name: ProductList_product_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ProductList_product_list_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProductList_product_list_id_seq" OWNER TO postgres;

--
-- Name: ProductList_product_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ProductList_product_list_id_seq" OWNED BY public."ProductList".product_list_id;


--
-- Name: Product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Product_product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_product_id_seq" OWNER TO postgres;

--
-- Name: Product_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Product_product_id_seq" OWNED BY public."Product".product_id;


--
-- Name: RevokedToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RevokedToken" (
    revoked_token_id integer NOT NULL,
    token text NOT NULL,
    user_id integer NOT NULL,
    revoked_at timestamp(3) without time zone NOT NULL,
    reason text NOT NULL
);


ALTER TABLE public."RevokedToken" OWNER TO postgres;

--
-- Name: RevokedToken_revoked_token_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RevokedToken_revoked_token_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RevokedToken_revoked_token_id_seq" OWNER TO postgres;

--
-- Name: RevokedToken_revoked_token_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RevokedToken_revoked_token_id_seq" OWNED BY public."RevokedToken".revoked_token_id;


--
-- Name: Role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Role" (
    role_id integer NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public."Role" OWNER TO postgres;

--
-- Name: Role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Role_role_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Role_role_id_seq" OWNER TO postgres;

--
-- Name: Role_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Role_role_id_seq" OWNED BY public."Role".role_id;


--
-- Name: Sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Sale" (
    sale_id integer NOT NULL,
    user_id integer NOT NULL,
    customer_id integer,
    state_id integer DEFAULT 2 NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Sale" OWNER TO postgres;

--
-- Name: SalePayment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SalePayment" (
    sale_payment_id integer NOT NULL,
    sale_id integer NOT NULL,
    exchange_rate numeric(10,2),
    amount_paid_usd numeric(10,2),
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    payment_coin_id integer NOT NULL
);


ALTER TABLE public."SalePayment" OWNER TO postgres;

--
-- Name: SalePayment_sale_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."SalePayment_sale_payment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SalePayment_sale_payment_id_seq" OWNER TO postgres;

--
-- Name: SalePayment_sale_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."SalePayment_sale_payment_id_seq" OWNED BY public."SalePayment".sale_payment_id;


--
-- Name: Sale_sale_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Sale_sale_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Sale_sale_id_seq" OWNER TO postgres;

--
-- Name: Sale_sale_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Sale_sale_id_seq" OWNED BY public."Sale".sale_id;


--
-- Name: State; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."State" (
    state_id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."State" OWNER TO postgres;

--
-- Name: State_state_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."State_state_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."State_state_id_seq" OWNER TO postgres;

--
-- Name: State_state_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."State_state_id_seq" OWNED BY public."State".state_id;


--
-- Name: Stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Stock" (
    stock_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    stock_movement_id integer NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    model_product_id integer NOT NULL
);


ALTER TABLE public."Stock" OWNER TO postgres;

--
-- Name: StockMovement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StockMovement" (
    stock_movement_id integer NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public."StockMovement" OWNER TO postgres;

--
-- Name: StockMovement_stock_movement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."StockMovement_stock_movement_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StockMovement_stock_movement_id_seq" OWNER TO postgres;

--
-- Name: StockMovement_stock_movement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."StockMovement_stock_movement_id_seq" OWNED BY public."StockMovement".stock_movement_id;


--
-- Name: Stock_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Stock_stock_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Stock_stock_id_seq" OWNER TO postgres;

--
-- Name: Stock_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Stock_stock_id_seq" OWNED BY public."Stock".stock_id;


--
-- Name: Supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Supplier" (
    supplier_id integer NOT NULL,
    company_id integer NOT NULL,
    name text NOT NULL,
    "RIF" text NOT NULL,
    email text,
    address text,
    phone text
);


ALTER TABLE public."Supplier" OWNER TO postgres;

--
-- Name: Supplier_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Supplier_supplier_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Supplier_supplier_id_seq" OWNER TO postgres;

--
-- Name: Supplier_supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Supplier_supplier_id_seq" OWNED BY public."Supplier".supplier_id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    user_id integer NOT NULL,
    company_id integer NOT NULL,
    role_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    visibility boolean DEFAULT true NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    user_photo text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_user_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_user_id_seq" OWNER TO postgres;

--
-- Name: User_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_user_id_seq" OWNED BY public."User".user_id;


--
-- Name: Warehouse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Warehouse" (
    warehouse_id integer NOT NULL,
    company_id integer NOT NULL,
    name text NOT NULL,
    email text,
    address text,
    phone text,
    visibility boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Warehouse" OWNER TO postgres;

--
-- Name: Warehouse_warehouse_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Warehouse_warehouse_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Warehouse_warehouse_id_seq" OWNER TO postgres;

--
-- Name: Warehouse_warehouse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Warehouse_warehouse_id_seq" OWNED BY public."Warehouse".warehouse_id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Company company_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company" ALTER COLUMN company_id SET DEFAULT nextval('public."Company_company_id_seq"'::regclass);


--
-- Name: Currency currency_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Currency" ALTER COLUMN currency_id SET DEFAULT nextval('public."Currency_currency_id_seq"'::regclass);


--
-- Name: Customer customer_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer" ALTER COLUMN customer_id SET DEFAULT nextval('public."Customer_customer_id_seq"'::regclass);


--
-- Name: ModelProduct model_product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ModelProduct" ALTER COLUMN model_product_id SET DEFAULT nextval('public."ModelProduct_model_product_id_seq"'::regclass);


--
-- Name: PaymentCoin payment_coin_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentCoin" ALTER COLUMN payment_coin_id SET DEFAULT nextval('public."PaymentCoin_payment_coin_id_seq"'::regclass);


--
-- Name: PaymentMethod payment_method_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentMethod" ALTER COLUMN payment_method_id SET DEFAULT nextval('public."PaymentMethod_payment_method_id_seq"'::regclass);


--
-- Name: Product product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product" ALTER COLUMN product_id SET DEFAULT nextval('public."Product_product_id_seq"'::regclass);


--
-- Name: ProductList product_list_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductList" ALTER COLUMN product_list_id SET DEFAULT nextval('public."ProductList_product_list_id_seq"'::regclass);


--
-- Name: RevokedToken revoked_token_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevokedToken" ALTER COLUMN revoked_token_id SET DEFAULT nextval('public."RevokedToken_revoked_token_id_seq"'::regclass);


--
-- Name: Role role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Role" ALTER COLUMN role_id SET DEFAULT nextval('public."Role_role_id_seq"'::regclass);


--
-- Name: Sale sale_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale" ALTER COLUMN sale_id SET DEFAULT nextval('public."Sale_sale_id_seq"'::regclass);


--
-- Name: SalePayment sale_payment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalePayment" ALTER COLUMN sale_payment_id SET DEFAULT nextval('public."SalePayment_sale_payment_id_seq"'::regclass);


--
-- Name: State state_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."State" ALTER COLUMN state_id SET DEFAULT nextval('public."State_state_id_seq"'::regclass);


--
-- Name: Stock stock_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock" ALTER COLUMN stock_id SET DEFAULT nextval('public."Stock_stock_id_seq"'::regclass);


--
-- Name: StockMovement stock_movement_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockMovement" ALTER COLUMN stock_movement_id SET DEFAULT nextval('public."StockMovement_stock_movement_id_seq"'::regclass);


--
-- Name: Supplier supplier_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Supplier" ALTER COLUMN supplier_id SET DEFAULT nextval('public."Supplier_supplier_id_seq"'::regclass);


--
-- Name: User user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN user_id SET DEFAULT nextval('public."User_user_id_seq"'::regclass);


--
-- Name: Warehouse warehouse_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Warehouse" ALTER COLUMN warehouse_id SET DEFAULT nextval('public."Warehouse_warehouse_id_seq"'::regclass);


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (company_id, visibility, company_logo, name, tax_id, email, address, phone) FROM stdin;
123456789	t	\N	fullMetalAlchemist	\N	full@gmail.com	mirador	02128301805
987654321	t	\N	SteelBrothers Corp	\N	steel@sb.com	Avenida Metal	04125557777
\.


--
-- Data for Name: Currency; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Currency" (currency_id, code, icon, name, symbol, exchange_rate, created_at, updated_at) FROM stdin;
1	01	\N	Dolares	$	1.00	2025-05-30 15:34:10.97	2025-05-30 00:00:00
2	02	\N	Bolivares	Bs	100.00	2025-05-30 15:35:48.162	2025-05-30 00:00:00
\.


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ModelProduct; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PaymentCoin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentCoin" (payment_coin_id, payment_method_id, currency_id) FROM stdin;
1	1	1
2	1	2
3	2	2
4	3	1
\.


--
-- Data for Name: PaymentMethod; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentMethod" (payment_method_id, name, icon, created_at, updated_at) FROM stdin;
1	Efectivo	\N	2025-05-30 15:38:16.985	2025-05-30 00:00:00
2	transferencia	\N	2025-05-30 15:38:16.985	2025-05-30 00:00:00
3	Zinli	\N	2025-05-30 15:38:16.985	2025-05-30 00:00:00
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ProductList; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RevokedToken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Role" (role_id, name, description) FROM stdin;
1	gerente	poder sobre todo
2	vendedor	vende productos
3	almacenista	almacena stock
\.


--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SalePayment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: State; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."State" (state_id, name) FROM stdin;
1	Disponible
2	No disponible
3	Completado
4	Cancelado
\.


--
-- Data for Name: Stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StockMovement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StockMovement" (stock_movement_id, name, description) FROM stdin;
1	entrada	ingreso de mercancia
2	salida	salida de mercancia
3	traslado	traslado de mercancia
\.


--
-- Data for Name: Supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (user_id, company_id, role_id, warehouse_id, visibility, username, password, user_photo) FROM stdin;
4	123456789	1	1	t	darcris	007	\N
5	123456789	1	1	f	Lucho	12345	\N
6	123456789	2	1	t	DarCris05	12345	\N
72	987654321	1	71	t	alice	pass123	\N
73	987654321	2	71	t	bob	pass123	\N
74	987654321	2	71	t	charlie	pass123	\N
75	987654321	3	72	t	diana	pass123	\N
\.


--
-- Data for Name: Warehouse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Company_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Company_company_id_seq"', 1, true);


--
-- Name: Currency_currency_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Currency_currency_id_seq"', 2, true);


--
-- Name: Customer_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Customer_customer_id_seq"', 157, true);


--
-- Name: ModelProduct_model_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ModelProduct_model_product_id_seq"', 322, true);


--
-- Name: PaymentCoin_payment_coin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PaymentCoin_payment_coin_id_seq"', 4, true);


--
-- Name: PaymentMethod_payment_method_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PaymentMethod_payment_method_id_seq"', 3, true);


--
-- Name: ProductList_product_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ProductList_product_list_id_seq"', 586, true);


--
-- Name: Product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Product_product_id_seq"', 161, true);


--
-- Name: RevokedToken_revoked_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RevokedToken_revoked_token_id_seq"', 29, true);


--
-- Name: Role_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Role_role_id_seq"', 3, true);


--
-- Name: SalePayment_sale_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SalePayment_sale_payment_id_seq"', 68, true);


--
-- Name: Sale_sale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Sale_sale_id_seq"', 317, true);


--
-- Name: State_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."State_state_id_seq"', 1, false);


--
-- Name: StockMovement_stock_movement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."StockMovement_stock_movement_id_seq"', 3, true);


--
-- Name: Stock_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Stock_stock_id_seq"', 1761, true);


--
-- Name: Supplier_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Supplier_supplier_id_seq"', 98, true);


--
-- Name: User_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_user_id_seq"', 75, true);


--
-- Name: Warehouse_warehouse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Warehouse_warehouse_id_seq"', 72, true);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (company_id);


--
-- Name: Currency Currency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Currency"
    ADD CONSTRAINT "Currency_pkey" PRIMARY KEY (currency_id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (customer_id);


--
-- Name: ModelProduct ModelProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ModelProduct"
    ADD CONSTRAINT "ModelProduct_pkey" PRIMARY KEY (model_product_id);


--
-- Name: PaymentCoin PaymentCoin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentCoin"
    ADD CONSTRAINT "PaymentCoin_pkey" PRIMARY KEY (payment_coin_id);


--
-- Name: PaymentMethod PaymentMethod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentMethod"
    ADD CONSTRAINT "PaymentMethod_pkey" PRIMARY KEY (payment_method_id);


--
-- Name: ProductList ProductList_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductList"
    ADD CONSTRAINT "ProductList_pkey" PRIMARY KEY (product_list_id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (product_id);


--
-- Name: RevokedToken RevokedToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevokedToken"
    ADD CONSTRAINT "RevokedToken_pkey" PRIMARY KEY (revoked_token_id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (role_id);


--
-- Name: SalePayment SalePayment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalePayment"
    ADD CONSTRAINT "SalePayment_pkey" PRIMARY KEY (sale_payment_id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (sale_id);


--
-- Name: State State_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."State"
    ADD CONSTRAINT "State_pkey" PRIMARY KEY (state_id);


--
-- Name: StockMovement StockMovement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_pkey" PRIMARY KEY (stock_movement_id);


--
-- Name: Stock Stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_pkey" PRIMARY KEY (stock_id);


--
-- Name: Supplier Supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY (supplier_id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (user_id);


--
-- Name: Warehouse Warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Warehouse"
    ADD CONSTRAINT "Warehouse_pkey" PRIMARY KEY (warehouse_id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Company_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_email_key" ON public."Company" USING btree (email);


--
-- Name: Company_tax_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_tax_id_key" ON public."Company" USING btree (tax_id);


--
-- Name: Currency_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Currency_code_key" ON public."Currency" USING btree (code);


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: State_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "State_name_key" ON public."State" USING btree (name);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: ProductList tr_stock_return_on_product_list; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER tr_stock_return_on_product_list AFTER DELETE OR UPDATE ON public."ProductList" FOR EACH ROW EXECUTE FUNCTION public.stock_return();


--
-- Name: ProductList trg_decrease_stock; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_decrease_stock AFTER INSERT ON public."ProductList" FOR EACH ROW EXECUTE FUNCTION public.decrease_stock();


--
-- Name: Customer Customer_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_company_id_fkey" FOREIGN KEY (company_id) REFERENCES public."Company"(company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ModelProduct ModelProduct_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ModelProduct"
    ADD CONSTRAINT "ModelProduct_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Product"(product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ModelProduct ModelProduct_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ModelProduct"
    ADD CONSTRAINT "ModelProduct_state_id_fkey" FOREIGN KEY (state_id) REFERENCES public."State"(state_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ModelProduct ModelProduct_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ModelProduct"
    ADD CONSTRAINT "ModelProduct_supplier_id_fkey" FOREIGN KEY (supplier_id) REFERENCES public."Supplier"(supplier_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ProductList ProductList_model_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductList"
    ADD CONSTRAINT "ProductList_model_product_id_fkey" FOREIGN KEY (model_product_id) REFERENCES public."ModelProduct"(model_product_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProductList ProductList_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductList"
    ADD CONSTRAINT "ProductList_sale_id_fkey" FOREIGN KEY (sale_id) REFERENCES public."Sale"(sale_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductList ProductList_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductList"
    ADD CONSTRAINT "ProductList_warehouse_id_fkey" FOREIGN KEY (warehouse_id) REFERENCES public."Warehouse"(warehouse_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_company_id_fkey" FOREIGN KEY (company_id) REFERENCES public."Company"(company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RevokedToken RevokedToken_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevokedToken"
    ADD CONSTRAINT "RevokedToken_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SalePayment SalePayment_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalePayment"
    ADD CONSTRAINT "SalePayment_sale_id_fkey" FOREIGN KEY (sale_id) REFERENCES public."Sale"(sale_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Sale Sale_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES public."Customer"(customer_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_state_id_fkey" FOREIGN KEY (state_id) REFERENCES public."State"(state_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stock Stock_model_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_model_product_id_fkey" FOREIGN KEY (model_product_id) REFERENCES public."ModelProduct"(model_product_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stock Stock_stock_movement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_stock_movement_id_fkey" FOREIGN KEY (stock_movement_id) REFERENCES public."StockMovement"(stock_movement_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Stock Stock_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_warehouse_id_fkey" FOREIGN KEY (warehouse_id) REFERENCES public."Warehouse"(warehouse_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Supplier Supplier_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_company_id_fkey" FOREIGN KEY (company_id) REFERENCES public."Company"(company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_company_id_fkey" FOREIGN KEY (company_id) REFERENCES public."Company"(company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_role_id_fkey" FOREIGN KEY (role_id) REFERENCES public."Role"(role_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_warehouse_id_fkey" FOREIGN KEY (warehouse_id) REFERENCES public."Warehouse"(warehouse_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Warehouse Warehouse_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Warehouse"
    ADD CONSTRAINT "Warehouse_company_id_fkey" FOREIGN KEY (company_id) REFERENCES public."Company"(company_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentCoin fk_currency; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentCoin"
    ADD CONSTRAINT fk_currency FOREIGN KEY (currency_id) REFERENCES public."Currency"(currency_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentCoin fk_payment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentCoin"
    ADD CONSTRAINT fk_payment FOREIGN KEY (payment_method_id) REFERENCES public."PaymentMethod"(payment_method_id);


--
-- Name: SalePayment fk_sale_paiment_coin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalePayment"
    ADD CONSTRAINT fk_sale_paiment_coin FOREIGN KEY (payment_coin_id) REFERENCES public."PaymentCoin"(payment_coin_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

